<!doctype html>
<html lang="{{#default language 'en'}}">
<head>
    <meta charset="UTF-8">
    <title>{{title}} by {{#join ', ' authors}}{{name}}{{/join}}</title>
    
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|Droid+Sans+Mono">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    
    {{#if themeSettings.bg}}
        <style type="text/css">
            .slides > article:first-of-type {
                background-image: url('/{{themeSettings.bg}}');
            }
        </style>
    {{/if}}
</head>
<body>
    <section class="slides">
        <article>
            <h1>{{title}}</h1>
            <h2>{{subtitle}}</h2>
            <div class="date">{{date}}</div>
            <div class="presenters">
                {{#each authors}}
                    <div class="presenter">
                        <p class="name">{{name}}</p>
                        <p class="company">{{company}}</p>
                        <div class="contact-info">
                            {{#if twitter}}
                                <p class="twitter">
                                    <i class="fa fa-twitter fa-fw"></i>
                                    <a href="https://twitter.com/{{twitter}}">{{twitter}}</a>
                                </p>
                            {{/if}}
                            {{#if email}}
                                <p class="email">
                                    <i class="fa fa-envelope fa-fw"></i>
                                    <a href="mailto:{{email}}?subject=Presentation%20{{#urlencode ../title}}">{{email}}</a>
                                </p>
                            {{/if}}
                            {{#if skype}}
                                <p class="website">
                                    <i class="fa fa-skype fa-fw"></i>
                                    <a href="skype:{{skype}}">{{skype}}</a>
                                </p>
                            {{/if}}
                            {{#if website}}
                                <p class="website">
                                    <i class="fa fa-globe fa-fw"></i>
                                    <a href="{{website}}">{{website}}</a>
                                </p>
                            {{/if}}
                        </div>
                    </div>
                {{/each}}
            </div>
        </article>
        
        {{#each slides}}
            <article>
                {{{content}}}
            </article>
        {{/each}}
    </section>
    
    <div id="help">
        Use the left and right arrow keys or click the left and right
        edges of the page to navigate between slides.<br>
        (Press 'H' or navigate to hide this message.)
    </div>
    
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="/js/slides.js"></script>
</body>
</html>